@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap');

$font-primary: 'Kanit', sans-serif;

*,
*::before,
*::after
{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    font-family: $font-primary;
}

.section{
    padding-block: 4rem;
    overflow: hidden;
    
    &__header{
        padding-inline: 1.6rem;
        text-align: center;
        max-width: 80rem;
        margin-inline: auto;
        margin-block-end: 4rem;

        &__title{
            font-size: clamp(3rem, 5vw, 8rem);
            font-weight: 500;
            line-height: 1.1;
            margin-block-end: 2rem;
        }
        
        &__text{
            font-size: 1.6rem;

            @media (min-width: 768px) {
                max-width: 60%;
                margin-inline: auto;
            }
        }
    }
}

.card{
    border-radius: 1rem;
    padding: 2rem;
    background-color: #f4f4f4;
    background-image: linear-gradient(100deg, var(--_color-1,#ffeceb), var(--_color-2,#f5edff));

    &__title{
        font-size: 1.8rem;
        line-height: 1.8;
    }

    &__footer{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin-block-start: 3rem;

        &__avatar{
            border-radius: 50rem;
        }

        &__title{
            font-size: 2rem;
            font-weight: 500;
            text-transform: uppercase;
        }

        &__text{
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
}

.slider{
    $color-bg: #ffffff;

    --_deg: calc(180deg / var(--_total));
    --_offset: 300px;
    
    @media (min-width: 668px) {
        --_offset: 250px;
    }
    @media (min-width: 992px) {
        --_offset: 300px;
    }
    @media (min-width: 1600px) {
        --_offset: 400px;
    }

    position: relative;

    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 10%;
        background-image: linear-gradient(to top, $color-bg, rgba($color-bg, $alpha: 0.9), rgba($color-bg, $alpha: 0.5), transparent);
    }

    .slick{
        &-list,
        &-track
        {
            transform: unset !important;
        }

        &-list{
            min-height: calc(var(--_offset) + (var(--_offset) / 8));
            @media (min-width: 576px) {
                min-height: calc(var(--_offset) + (var(--_offset) / 1.5));
            }
            background-color: $color-bg;
            cursor: grab;
        }

        &-track{
            display: flex;
            justify-content: center;
            width: 100% !important;
            transition: unset !important;
            height: 100%;

            &::before,
            &::after
            {
                display: none;
            }
        }

        &-slide{
            float: unset;
            height: auto;
            position: absolute;
            transition: all 0.3s linear !important;
            transform:
                rotate(calc((var(--_deg) ) * var(--_index) * var(--_direction)))
                translateX((calc(cos(var(--_deg)) * (var(--_index)) * ((var(--_offset) + (var(--_offset) / 10) ) * var(--_direction)))))
                translateY((calc(sin(var(--_deg)) * (var(--_index)) * (100px))));

            @media (max-width: 575px) {
                padding-inline: 1.5rem;
            }
        
            &:not(.slick-active){
                opacity: 0;
                visibility: hidden;
                // z-index: -1;
            }
        }
    }

    &__navigation{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin-top: -1rem;
        @media (min-width: 576px) {
            margin-top: -8rem;
        }

        .slick{
            &-arrow{
                display: inline-block;
                line-height: 0;
                background-color: transparent;
                border: 0;
                font-size: 3rem;
                cursor: pointer;

                &--next{
                    order: 1;
                }
            }

            &-dots{
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
    
                button{
                    display: block;
                    font-size: 0;
                    background-color: #cccccc;
                    border: 0;
                    width: 2rem;
                    height: 0.7rem;
                    border-radius: 10rem;
                    cursor: pointer;
                    transition: background .2s ease-in-out;
                }
    
                .slick-active button{
                    background-color: #000000;
                }
    
    
            }
        }
    }
}